.Arrow-container {
  z-index: var(--z-index-arrow);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Arrow {
  background-repeat: no-repeat;
}

.Arrow-container--left {
  padding-left: calc(var(--icon-size) / 2);
  padding-right: calc(var(--icon-size) / 2);
}

.Arrow--left {
  height: var(--arrow-thickness);
  width: 100%;
  align-self: center;
  background-size: 100% var(--arrow-thickness);
  background-position: center;
}

.Arrow-container--right {
  padding-left: calc(var(--icon-size) / 2);
  padding-right: calc(var(--icon-size) / 2);
}

.Arrow--right {
  height: var(--arrow-thickness);
  width: 100%;
  align-self: center;
  background-size: 100% var(--arrow-thickness);
  background-position: center;
}

.Arrow-container--down {
  padding-top: calc(var(--icon-size) / 2);
  padding-bottom: calc(var(--icon-size) / 2);
  justify-content: center;
}

.Arrow--down {
  height: 100%;
  width: var(--arrow-thickness);
  background-size: var(--arrow-thickness) 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.Arrow-container--right-down {
  padding-left: calc(var(--icon-size) - var(--sp-xxxs));
  padding-right: calc((var(--icon-size) - var(--arrow-thickness)) / 2);
}

.Arrow--right-down {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Arrow-container--right-down-down {
  padding-top: calc((var(--icon-size) / 2) + var(--sp-sm));
  padding-bottom: calc(var(--icon-size) - var(--sp-sm));
  justify-content: center;
}

.Arrow--right-down-down {
  height: 100%;
  width: var(--arrow-thickness);
  background-size: var(--arrow-thickness) 100%;
  background-repeat: no-repeat;
  background-position: center;
}
